USE databaseForAsm38
GO
/****** Object:  Database [databaseForAsm38]    Script Date: 3/17/2024 1:01:29 PM ******/
CREATE DATABASE [databaseForAsm38]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'databaseForAsm38', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\databaseForAsm38.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'databaseForAsm38_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\databaseForAsm38_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [databaseForAsm38].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [databaseForAsm38]
GO
/****** Object:  Table [dbo].[absentPercent]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create table [dbo].[LectureAsignment](
	[idLectureAsignment] [int] identity(1,1),
	[LectureId] [nvarchar](50),
	[GroupId] int,
  PRIMARY KEY CLUSTERED 
(
	[idLectureAsignment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create table [dbo].[TrainingDepartment](
	[idTrainingDepartment] nvarchar(45) NOT NULL,
	[PhoneNumber] int NULL,
	[Email] [nvarchar](50) NULL,
	[userName] [nvarchar](50) NULL,
	 PRIMARY KEY CLUSTERED 
(
	[idTrainingDepartment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE TABLE [dbo].[absentPercent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_group_id] [int] NULL,
	[absentCount] [int] NULL,
	[totalClasses] [int] NULL,
	[emailCheck] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[userName] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[email] [nvarchar](50)NULL,
	[rolid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[student_id] [nvarchar](50) NULL,
	[session_id] [int] NULL,
	[timeatt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[changeClass]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[changeClass](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fromStudent] [nvarchar](50) NULL,
	[fromGroup] [int] NULL,
	[toStudent] [nvarchar](50) NULL,
	[toGroup] [int] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[idFeedBack] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[StudentId] [nvarchar](50) NULL,
	[LectureId] [nvarchar] (50) NULL,
	[DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idFeedBack] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[courseId] [int] NULL,
	[termID] [varchar](50) NULL,
	[roomID] [int] NULL,
	[timeSlotID] [int] NULL,
	[lectureid] [nvarchar](50) NULL,
	[timeStart] [date] NULL,
	[timeEnd] [date] NULL,
	[firstday] [date] NULL,
	[secondday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecture]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecture](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NULL,
	[dob] [date] NULL,
	[email] [nvarchar](50) NULL,
	[userName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mark_course]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mark_course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gradeCategory] [nvarchar](255) NULL,
	[gradeItem] [nvarchar](255) NULL,
	[weight] [varchar](10) NULL,
	[courseId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mark_student]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mark_student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_group_id] [int] NULL,
	[mark_course_id] [int] NULL,
	[value] [varchar](10) NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[pagenum] [int] NULL,
	[timeUp] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NOT NULL,
	[func] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [bit] NULL,
	[group_id] [int] NULL,
	[date] [date] NULL,
	[lectureid] [nvarchar](50) NULL,
	[timeAtt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statusMarkCourse]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statusMarkCourse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_group_id] [int] NULL,
	[total] [float] NULL,
	[status] [nvarchar](50) NULL,
	[comment] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](255) NULL,
	[dob] [date] NULL,
	[email] [nvarchar](50) NULL,
	[imgUrl] [varchar](max) NULL,
	[userName] [nvarchar](50) NULL,
	[GroupId] [int] NUll, 
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO



/****** Object:  Table [dbo].[student_group]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Studentid] [nvarchar](50) NULL,
	[groupid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Term]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[id] [varchar](50) NOT NULL,
	[code] [varchar](50) NULL,
	[description] [nvarchar](255) NULL,
	[timeStart] [date] NULL,
	[timeEnd] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 3/17/2024 1:01:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[absentPercent] ON 

INSERT [dbo].[absentPercent] ([id], [student_group_id], [absentCount], [totalClasses], [emailCheck]) VALUES (1, 41, 1, 24, 0)
INSERT [dbo].[absentPercent] ([id], [student_group_id], [absentCount], [totalClasses], [emailCheck]) VALUES (2, 40, 0, 24, 1)
INSERT [dbo].[absentPercent] ([id], [student_group_id], [absentCount], [totalClasses], [emailCheck]) VALUES (3, 39, 0, 24, 0)
SET IDENTITY_INSERT [dbo].[absentPercent] OFF
GO
INSERT [dbo].[account] ([userName], [password],[email], [rolid]) VALUES (N'admin', N'999',NULL, 1)
INSERT [dbo].[account] ([userName], [password],[email], [rolid]) VALUES (N'trunghieu', N'123','trunghieu2003hhh@gmail.com', 3)
INSERT [dbo].[account] ([userName], [password], [email],[rolid]) VALUES (N'handg', N'123',NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([id], [status], [description], [student_id], [session_id], [timeatt]) VALUES (1, N'true', NULL, N'he1', 223, NULL)
INSERT [dbo].[Attendance] ([id], [status], [description], [student_id], [session_id], [timeatt]) VALUES (2, N'true', NULL, N'he1', 224, NULL)
INSERT [dbo].[Attendance] ([id], [status], [description], [student_id], [session_id], [timeatt]) VALUES (3, N'true', NULL, N'he1', 225, NULL)
GO
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[changeClass] ON 

INSERT [dbo].[changeClass] ([id], [fromStudent], [fromGroup], [toStudent], [toGroup], [status]) VALUES (1, N'he1', 13, N'he2', 17, N'Accepted')
INSERT [dbo].[changeClass] ([id], [fromStudent], [fromGroup], [toStudent], [toGroup], [status]) VALUES (2, N'he1', 14, N'he2', 18, N'Accepted')
INSERT [dbo].[changeClass] ([id], [fromStudent], [fromGroup], [toStudent], [toGroup], [status]) VALUES (3, N'he1', 12, N'he2', 16, N'Accepted')
SET IDENTITY_INSERT [dbo].[changeClass] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([id], [code], [description]) VALUES (1, N'CSI104', N'Introduction to Computer Science')
INSERT [dbo].[Course] ([id], [code], [description]) VALUES (2, N'PRF192', N'Programming Fundamentals')
INSERT [dbo].[Course] ([id], [code], [description]) VALUES (3, N'MAE101', N'Mathematics for Engineering')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO

SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([id], [name], [courseId], [termID], [roomID], [timeSlotID], [lectureid], [timeStart], [timeEnd], [firstday], [secondday]) VALUES (1, N'se1815', 5, N'2', 1, 2, N'10', CAST(N'2023-05-08' AS Date), CAST(N'2023-07-23' AS Date), CAST(N'2023-05-09' AS Date), CAST(N'2023-05-12' AS Date))
INSERT [dbo].[Group] ([id], [name], [courseId], [termID], [roomID], [timeSlotID], [lectureid], [timeStart], [timeEnd], [firstday], [secondday]) VALUES (2, N'se1815', 6, N'2', 1, 2, N'9', CAST(N'2023-05-08' AS Date), CAST(N'2023-07-23' AS Date), CAST(N'2023-05-08' AS Date), CAST(N'2023-05-10' AS Date))
INSERT [dbo].[Group] ([id], [name], [courseId], [termID], [roomID], [timeSlotID], [lectureid], [timeStart], [timeEnd], [firstday], [secondday]) VALUES (3, N'se1815', 7, N'2', 1, 1, N'8', CAST(N'2023-05-08' AS Date), CAST(N'2023-07-23' AS Date), CAST(N'2023-05-09' AS Date), CAST(N'2023-05-12' AS Date))
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
INSERT [dbo].[Lecture] ([id], [name], [dob], [email], [userName]) VALUES (N'1', N'Ngo Tung Son', CAST(N'1970-01-01' AS Date), N'hieutthe176380@fpt.edu.vn', N'sonnt')
INSERT [dbo].[Lecture] ([id], [name], [dob], [email], [userName]) VALUES (N'10', N'Nguyen Van K', CAST(N'2015-10-10' AS Date), N'nguyenvank@example.com', NULL)
INSERT [dbo].[Lecture] ([id], [name], [dob], [email], [userName]) VALUES (N'2', N'Nguyen Ngoc Anh', CAST(N'1975-02-02' AS Date), N'anhnn@example.com', NULL)
GO
SET IDENTITY_INSERT [dbo].[mark_course] ON 

INSERT [dbo].[mark_course] ([id], [gradeCategory], [gradeItem], [weight], [courseId]) VALUES (1, N'Group presentation', N'Group presentation 1', N'5', 1)
INSERT [dbo].[mark_course] ([id], [gradeCategory], [gradeItem], [weight], [courseId]) VALUES (2, N'Group presentation', N'Group presentation 2', N'5', 1)
INSERT [dbo].[mark_course] ([id], [gradeCategory], [gradeItem], [weight], [courseId]) VALUES (3, N'Lab', N'Lab 1', N'10', 1)
GO
SET IDENTITY_INSERT [dbo].[mark_course] OFF
GO
SET IDENTITY_INSERT [dbo].[mark_student] ON 

INSERT [dbo].[mark_student] ([id], [student_group_id], [mark_course_id], [value], [comment]) VALUES (1, 41, 127, N'5', NULL)
INSERT [dbo].[mark_student] ([id], [student_group_id], [mark_course_id], [value], [comment]) VALUES (2, 41, 128, N'5', NULL)
INSERT [dbo].[mark_student] ([id], [student_group_id], [mark_course_id], [value], [comment]) VALUES (3, 41, 129, N'8', NULL)
GO
SET IDENTITY_INSERT [dbo].[mark_student] OFF
GO
SET IDENTITY_INSERT [dbo].[news] ON 

INSERT [dbo].[news] ([id], [title], [content], [pagenum], [timeUp]) VALUES (1, N'title 1', N'content 1', 1, CAST(N'2024-03-16' AS Date))
INSERT [dbo].[news] ([id], [title], [content], [pagenum], [timeUp]) VALUES (2, N'title 1', N'content 1', 1, CAST(N'2024-03-16' AS Date))
INSERT [dbo].[news] ([id], [title], [content], [pagenum], [timeUp]) VALUES (3, N'title 1', N'content 1', 1, CAST(N'2024-03-16' AS Date))
SET IDENTITY_INSERT [dbo].[news] OFF
GO
INSERT [dbo].[role] ([id], [func]) VALUES (1, N'TrainingDepartment')
INSERT [dbo].[role] ([id], [func]) VALUES (2, N'lecture')
INSERT [dbo].[role] ([id], [func]) VALUES (3, N'student')
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([id], [name]) VALUES (1, N'be101')
INSERT [dbo].[Room] ([id], [name]) VALUES (2, N'be102')
INSERT [dbo].[Room] ([id], [name]) VALUES (3, N'al201')
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([id], [status], [group_id], [date], [lectureid], [timeAtt]) VALUES (1, 0, 11, CAST(N'2024-01-03' AS Date), N'1', NULL)
INSERT [dbo].[Session] ([id], [status], [group_id], [date], [lectureid], [timeAtt]) VALUES (2, 0, 11, CAST(N'2024-01-05' AS Date), N'1', NULL)
INSERT [dbo].[Session] ([id], [status], [group_id], [date], [lectureid], [timeAtt]) VALUES (3, 0, 11, CAST(N'2024-01-10' AS Date), N'1', NULL)
GO
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[statusMarkCourse] ON 

INSERT [dbo].[statusMarkCourse] ([id], [student_group_id], [total], [status], [comment]) VALUES (1, 41, 0, N'Current studying ', N' ')
INSERT [dbo].[statusMarkCourse] ([id], [student_group_id], [total], [status], [comment]) VALUES (2, 40, 8.3500000000000014, N'PASSED ', N' ')
INSERT [dbo].[statusMarkCourse] ([id], [student_group_id], [total], [status], [comment]) VALUES (3, 39, 6, N'NOT PASS ', N'Category = 0')
SET IDENTITY_INSERT [dbo].[statusMarkCourse] OFF
GO
INSERT [dbo].[Student] ([id], [name], [dob], [email], [imgUrl],[GroupId], [userName]) VALUES (N'he1', N'Tran Trung Hieu', CAST(N'2003-12-07' AS Date), N'trunghieu2003hhh@gmail.com', N'male.png',1, N'trunghieu')
INSERT [dbo].[Student] ([id], [name], [dob], [email], [imgUrl],[GroupId], [userName]) VALUES (N'he10', N'Le Thi Mai Phuongg', CAST(N'2003-09-09' AS Date), N'lethimaiphuong@example.com', N'female.png',NULL, NULL)
INSERT [dbo].[Student] ([id], [name], [dob], [email], [imgUrl],[GroupId], [userName]) VALUES (N'he11', N'Pham Thi Thanh Nga', CAST(N'2003-11-11' AS Date), N'phamthithanhnga@example.com', N'male.png',NULL, NULL)
GO															   
SET IDENTITY_INSERT [dbo].[student_group] ON 

INSERT [dbo].[student_group] ([id], [Studentid], [groupid]) VALUES (1, N'he1', 1)
INSERT [dbo].[student_group] ([id], [Studentid], [groupid]) VALUES (2, N'he2', 1)
INSERT [dbo].[student_group] ([id], [Studentid], [groupid]) VALUES (3, N'he3', 1)
SET IDENTITY_INSERT [dbo].[student_group] OFF
GO
INSERT [dbo].[Term] ([id], [code], [description], [timeStart], [timeEnd]) VALUES (N'1', N'sp23', N'Spring 2023', CAST(N'2023-01-01' AS Date), CAST(N'2023-03-31' AS Date))
INSERT [dbo].[Term] ([id], [code], [description], [timeStart], [timeEnd]) VALUES (N'2', N'su23', N'Summer 2023', CAST(N'2023-04-01' AS Date), CAST(N'2023-08-31' AS Date))
INSERT [dbo].[Term] ([id], [code], [description], [timeStart], [timeEnd]) VALUES (N'3', N'fa23', N'Fall 2023', CAST(N'2023-09-01' AS Date), CAST(N'2023-12-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([id], [description]) VALUES (1, N'7h30-10h')
INSERT [dbo].[TimeSlot] ([id], [description]) VALUES (2, N'10h-12h30')
INSERT [dbo].[TimeSlot] ([id], [description]) VALUES (3, N'12h40-3h10')
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO

INSERT [dbo].[TrainingDepartment] ([idTrainingDepartment],[PhoneNumber], [Email],[userName]) VALUES (N'1',0376409345,N'ddominh16@gmail.com',N'trainDept')
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT INTO [dbo].[feedback] ([idFeedBack],[StudentId], [LectureId],[Content], [DATE]) 
VALUES
  (1,'he1', N'1', 'Good lecture!', '2024-02-15'),
  (2,'he2', N'2', 'Very informative!', '2024-03-10')
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO

SET IDENTITY_INSERT [dbo].[LectureAsignment] ON 
INSERT INTO [dbo].[LectureAsignment] ([idLectureAsignment],[LectureId], [GroupId])
VALUES 
  (1,1, 1),
  (2,2, 2)
SET IDENTITY_INSERT [dbo].[LectureAsignment] OFF
GO
ALTER TABLE [dbo].[changeClass] ADD  DEFAULT ('Processing') FOR [status]
GO
ALTER TABLE [dbo].[absentPercent]  WITH CHECK ADD FOREIGN KEY([student_group_id])
REFERENCES [dbo].[student_group] ([id])
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD FOREIGN KEY([rolid])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([session_id])
REFERENCES [dbo].[Session] ([id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[changeClass]  WITH CHECK ADD FOREIGN KEY([fromGroup])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[changeClass]  WITH CHECK ADD FOREIGN KEY([fromStudent])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[changeClass]  WITH CHECK ADD FOREIGN KEY([toGroup])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[changeClass]  WITH CHECK ADD FOREIGN KEY([toStudent])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lecture] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD FOREIGN KEY([courseId])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD FOREIGN KEY([lectureid])
REFERENCES [dbo].[Lecture] ([id])
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD FOREIGN KEY([roomID])
REFERENCES [dbo].[Room] ([id])
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD FOREIGN KEY([termID])
REFERENCES [dbo].[Term] ([id])
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD FOREIGN KEY([timeSlotID])
REFERENCES [dbo].[TimeSlot] ([id])
GO
ALTER TABLE [dbo].[Lecture]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Account] FOREIGN KEY([userName])
REFERENCES [dbo].[account] ([userName])
GO
ALTER TABLE [dbo].[Lecture] CHECK CONSTRAINT [FK_Teacher_Account]
GO

ALTER TABLE [dbo].[TrainingDepartment]  WITH CHECK ADD  CONSTRAINT [FK_TrainingDepartment_Account] FOREIGN KEY([userName])
REFERENCES [dbo].[account] ([userName])
GO
ALTER TABLE [dbo].[TrainingDepartment] CHECK CONSTRAINT [FK_TrainingDepartment_Account]
GO
ALTER TABLE [dbo].[mark_course]  WITH CHECK ADD FOREIGN KEY([courseId])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[mark_student]  WITH CHECK ADD FOREIGN KEY([mark_course_id])
REFERENCES [dbo].[mark_course] ([id])
GO
ALTER TABLE [dbo].[mark_student]  WITH CHECK ADD FOREIGN KEY([student_group_id])
REFERENCES [dbo].[student_group] ([id])
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD FOREIGN KEY([lectureid])
REFERENCES [dbo].[Lecture] ([id])
GO
ALTER TABLE [dbo].[statusMarkCourse]  WITH CHECK ADD FOREIGN KEY([student_group_id])
REFERENCES [dbo].[student_group] ([id])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Account] FOREIGN KEY([userName])
REFERENCES [dbo].[account] ([userName])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Account]
GO
ALTER TABLE [dbo].[student_group]  WITH CHECK ADD FOREIGN KEY([groupid])
REFERENCES [dbo].[Group] ([id])
GO
ALTER TABLE [dbo].[student_group]  WITH CHECK ADD FOREIGN KEY([Studentid])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[LectureAsignment] WITH CHECK ADD  CONSTRAINT [FK_Student_LecAssign] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lecture] ([id])
GO
ALTER TABLE [dbo].[LectureAsignment]  WITH CHECK ADD  CONSTRAINT [FK_Student_LecAssign1] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Group] ([id])
GO

USE [master]
GO
